*.class

# Package Files #
*.jar
*.war
*.ear


pom.xml.releaseBackup

rebel.xml
release.properties

.DS_Store

.project
.settings
.classpath

core/target/**/*
db/target/**/*
util/target/**/*
gui_jgoodies/target/**/*
gui_pf/target/**/*
gui_wicket/target/**/*
gui_wicket6/target/**/*
gui_ee6/target/**/*

core/target/*
db/target/*
util/target/*
gui_jgoodies/target/*
gui_pf/target/*
gui_wicket/target/*
gui_wicket6/target/*
gui_ee6/target/*
